* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'one';
    src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'tow';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'medium';
    src: url(./assets/fonts/static/DMSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'mediumitalic';
    src: url(./assets/fonts/static/DMSans-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/static/DMSans-Regular.ttf) format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container {
    height: 85vh;
    width: min(90%, 1200px);
    display: flex;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

.one_one {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

.two_one {
    flex-basis: 75%;
    display: flex;
    direction: ltr;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

.three_one {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

.four_one {
    flex-basis: 50%;
    background-color: hsl(256, 67%, 59%);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    text-align: center;
    gap: clamp(0.5rem, 2vw, 1.5rem);
    padding: max(1rem, 3vw);
}

.four_one .title {
    font-size: clamp(1.8rem, 4vw, 3.2rem);
}

.four_one img {
    width: 30%;
}

.four_one p {
    font-size: clamp(0.9rem, 3vw, 1.8rem);
    background-color: (31, 66%, 93%);
}

.four_two {
    flex-basis: 50%;
    display: flex;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

/* ------------------------ */
.five_one {
    height: auto;
    flex-basis: 50%;
    background-color: hsl(31, 66%, 93%);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    padding: clamp(0.8rem, 1.5vw, 1rem) clamp(1rem, 2vw, 2rem);
    overflow: hidden;
    height: clamp(1rem, 21vw,
            16rem);
}

.five_one img {
    width: clamp(100%, 60vw, 150%);
    margin-left: 0.5rem;
}

.five_one p {
    font-size: clamp(1rem, 3vw, 2.5rem);
    line-height: 1;
}

/* --------------------------------- */
.five_tow {
    height: auto;
    flex-basis: 50%;
    background-color: hsl(39, 100%, 71%);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    padding: clamp(0.8rem, 1.5vw, 1rem) clamp(1rem, 2vw, 2rem);
    overflow: hidden;
    text-align: left;
    height: clamp(1rem, 21vw, 16rem);
}

.five_tow p {
    font-size: clamp(1.6rem, 3vw, 2.5rem);
    line-height: 1;
}

.five_tow img {
    width: clamp(10%, 60vw, 90%);
    margin-left: 0.5rem;
}

/* ------------------------------- */
.three_two {
    flex-basis: 25%;
    background-color: rgb(129, 201, 201);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    padding: clamp(0.8rem, 1.5vw, 1rem) clamp(1rem, 2vw, 2rem);
    overflow: hidden;
    text-align: left;
    height: auto;
}

.three_two .title_schedule {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.three_two img {
    margin-top: 1rem;
    width: clamp(100%, 27vw, 250%);
}

.three_two p {
    font-size: clamp(0.8rem, 1.3vw, 1.3rem);
}

.two_two {
    flex-basis: 25%;
    display: flex;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

.six_one {
    flex-basis: 65%;
    background-color: hsl(256, 67%, 59%);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(0.8rem, 1vw, 0.6rem);
}

.six_one p {
    flex: 70%;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    order: 0;
    color: hsl(254, 88%, 90%);
    text-align: left;
    margin-left: 1rem;
}

.six_one img {
    width: 30%;
    order: 1;
}

.six_tow {
    flex-basis: 35%;
    background-color: rgb(140, 206, 206);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    text-align: left;
    padding: clamp(0.8rem, 1vw, 0.5rem);
}

.six_tow img {
    width: 60%
}

.six_tow .title {
    font-size: clamp(2rem, 2.5vw, 2rem);
    font-family: 'regular';
}

.six_tow p {
    margin: 0.1rem 0;
}

.one_two {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

.seven_one {
    flex-basis: 50%;
    background-color: hsl(31, 66%, 93%);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    text-align: left;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    height: auto;
}

.seven_one p {
    font-size: clamp(1.1em, 2vw, 1.8em);
    font-family: 'mediumitalic';
    margin-top: 2.5rem;
}

.seven_one img {
    width: 90%;
    margin: clamp(0.5em, 2vw, 2em);
}

.seven_two {
    flex-basis: 50%;
    background-color: rgb(243, 160, 37);
    border-radius: clamp(0.4rem, 1vw, 1rem);
    text-align: left;
    height: auto;
    padding: clamp(0.5em, 1vw, 2em);

}

.seven_two p {
    font-size: clamp(1.1em, 1.9vw, 1.949em);
    font-family: 'medium';
}

.seven_two img {
    margin-top: clamp(1.1em, 3vw, 2.5em);
    width: 100%;
}

@media(max-width:576px) {

    .container,
    .two_one,
    .four_two,
    .two_two {
        flex-direction: column;
    }

    .five_one {
        overflow: visible;
    }

    .five_one p {
        font-size: 1.3rem;
    }

    .three_two {
        overflow: visible;
        text-align: center;
    }

    .six_one {
        flex-direction: column;
    }

    .six_one img {
        order: 0;
        width: 70%;
    }

    .six_one p {
        margin: 1rem;
    }

    .seven_one {
        padding-top: 0.5rem;
    }

    .seven_one img {
        width: 50%;
    }

    .seven_one p {
        margin-top: 0.5rem;
    }

    .seven_two p {
        padding-right: 2.5em;
    }

    .seven_two img {
        width: 60%;
        margin-top: 0.5rem;
    }
}

@media(min-width:1200px) {
    .container {
        max-height: 10vh;
    }
}

@media(min-width:768px) {

    .seven_two img {
        width: 100%;
        /* margin-top: clamp(1.1em, 3vw, 3.9em); */
        padding: 1.32em 0;

    }

}

@media(min-width:992px) {

    .seven_two {
        padding: 0.94em 0.5em;
    }

    .seven_two p {
        padding-right: 2em;
    }
}

@media(min-width:1200px) {

    .seven_two {
        padding: 1em 0.5em;
        height: auto;
    }

    .seven_two p {
        padding-right: 2em;
    }

    .seven_two img {
        width: 100%;
        margin-top: 1.6em;
        /* padding: 0.77em 0; */
    }
}

@media(min-width:1400px) {

    .seven_two {
        padding: 1em 0.623em;
    }

    .seven_two img {
        width: 80%;
    }
}

@media(min-width:1500px) {

    .seven_two {
        padding: 2.1em 0.623em;
    }

    .seven_two img {
        width: 80%;
    }
}